<div class="text-center">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, label: false, placeholder: 'Name', class: 'input-lg' %>
  </div>

   <div class="field">
    <%= f.text_field :surname, label: false, placeholder: 'Surname', class: 'input-lg' %>
  </div>

  <div class="field">
    <%= f.email_field :email, label: false, placeholder: 'Email', autofocus: true, class: 'input-lg' %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: 'input-lg' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: "off", class: 'input-lg' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn-lg btn-info' %>
  </div>
<% end %>
</div>
