<p>
  <strong><%= t('.title') %></strong>
  <%= @route.name %>
</p>

<p>
  <strong>Stations in this route:</strong>
</p>
<p>
  <% if @route.railway_stations.empty? %>
    List is empty
  <% else %>
    <table>
      <thead>
        <tr>
          <td width="100px"><strong>Name</strong></td>
          <td><strong>Arrive Time / Departure Time</strong></td>
          <td><strong>Position in Route</strong></td>
        </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_arrive_departure_admin_railway_station_path(station), method: :patch do %>
              <%= time_field_tag :arrive, station.arrive(@route).strftime('%H:%M') %>
              <%= time_field_tag :departure, station.departure(@route).strftime('%H:%M') %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Change" %>
            <% end %>
          </td>          
          <td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Change" %>
            <% end %>
          </td>          
        </tr>
      <% end %>
      </tbody>
    </table>  
  <% end %>
</p>

<p>
  <strong>List trains on this route:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
    List is empty
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
