<p id="notice"><%= notice %></p>

<p>
  <strong>Train Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    unknown
  <% end %>
</p>

<p>
  <strong>Wagons quantity:</strong>
  <%= @train.wagons.count %><br>
  Super Economy: <%= @train.count_wagons(SuperEconomy) %><br>
  Economy: <%= @train.count_wagons(Economy) %><br>
  Comfort: <%= @train.count_wagons(Comfort) %><br>
  Lux: <%= @train.count_wagons(Lux) %>
</p>

<p>
  <strong>Seats quantity:</strong><br>
    Super Economy - Bottom Seats: <%= @train.count_seats(SuperEconomy, :economy_bottom_seats) %>
  <p>
    Economy - Bottom Seats: <%= @train.count_seats(Economy, :bottom_seats) %><br>
    Economy - Top Seats: <%= @train.count_seats(Economy, :top_seats) %><br>
    Economy - Side Bottom Seats: <%= @train.count_seats(Economy, :side_bottom_seats) %><br>
    Economy - Side Top Seats: <%= @train.count_seats(Economy, :side_top_seats) %>
  </p>
  <p>
    Comfort - Bottom Seats: <%= @train.count_seats(Comfort, :bottom_seats) %><br>
    Comfort - Top Seats: <%= @train.count_seats(Comfort, :top_seats)  %>
  </p>
    Lux - Bottom Seats: <%= @train.count_seats(Lux, :bottom_seats) %>
</p>

<p>
  <strong>Wagons:</strong><br>
  <% @wagons = @train.head ? @train.wagons.ordered : @train.wagons.ordered_desc %>
  <% @wagons.each do |wagon| %>
  <%= link_to "Number - #{wagon.number} (#{wagon.type})", wagon %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', :back %>
