<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>On station:</strong>
  <% if @train.current_station.present? %>
  	<%= @train.current_station.title %>
  <% else %>
    unknown
  <% end %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
  	<%= @train.route.name %>
  <% else %>
    unknown
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
