<%= form_tag tickets_path(@ticket) do %>  
  <div class="field">
    <%= text_field_tag :name, nil, placeholder: 'Name', class: 'form-control' %>
  </div>
  <div class="field">
    <%= text_field_tag :surname, nil, placeholder: 'Surname', class: 'form-control' %>
  </div>
  <div class="field">
    <%= text_field_tag :passport_id, nil, placeholder: 'Document Number', class: 'form-control' %>
  </div>
  <div class="actions">
    <%= hidden_field_tag :train_id, params[:train_id] %>
    <%= submit_tag 'Buy Ticket', class: 'btn-lg btn-info' %>
  </div>
<% end %>
