<h1>Ticket Info</h1>

<p><strong>Buyer:</strong> <%= @ticket.user.email %></p>

<table class="table table-bordered text-center">
      <thead>
        <tr>
          <td><strong>Train №</strong></td>
          <td><strong>Route</strong></td>
          <td><strong>Departure</strong></td>
          <td><strong>Arrive</strong></td>
          <td><strong>Name</strong></td>
          <td><strong>Surname</strong></td>
          <td><strong>Document</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @ticket.train.number %></td>
          <td><%= "#{@ticket.initial_station.title} - #{@ticket.final_station.title}" %></td>
          <td><%= @ticket.initial_station.departure(@ticket.train.route).strftime('%H:%M') %></td>
          <td><%= @ticket.final_station.arrive(@ticket.train.route).strftime('%H:%M') %></td>
          <td><%= @ticket.name %></td>
          <td><%= @ticket.surname %></td>
          <td><%= @ticket.passport_id %></td>
        </tr>
      </tbody>
</table>

<p>If you didn't buy this ticket <%= link_to 'click here', @ticket, method: :delete, data: { confirm: 'You delete ticket, Are you sure?' } %> for cancel</p>
<p><%= link_to "Download Ticket (PDF)", ticket_path(@ticket, :format => "pdf") %></p>
