<h1>Editing Ticket</h1>

<%= form_for [:admin, @ticket] do |f| %>
  
  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', class: 'input-lg' %>
  </div>

  <div class="field">
    <%= f.text_field :surname, placeholder: 'Surname', class: 'input-lg' %>
  </div>

  <div class="field">
    <%= f.text_field :passport_id, placeholder: 'Document Number', class: 'input-lg' %>
  </div>

  <div class="actions">
    <%= hidden_field_tag :train_id, params[:train_id] %>
    <%= f.submit 'Edit', class: 'btn-lg btn-info' %>
  </div>
<% end %>

<%= link_to 'Show', [:admin, @ticket] %> |
<%= link_to 'Back', :back %>
