<h1>Search Ticket</h1>

<div class="row">
<%= form_tag search_path, class: 'search_form' do %>
  <div class="col-md-5"> 
    <%= select_tag :initial_station, options_from_collection_for_select(RailwayStation.all, :id, :title), class: 'form-control' %>
  </div>
  <div class="col-md-5"> 
    <%= select_tag :final_station, options_from_collection_for_select(RailwayStation.all, :id, :title), class: 'form-control' %>
  </div>
  <div class="col-md-2"> 
    <%= submit_tag 'Search', class: 'btn-lg btn-info btn-block' %>
  </div>
<% end %>
</div>

<p>
  <% if @routes.empty? %>
    <p>Route unknown</p>
  <% else %>     
      <% @routes.compact.each do |route| %>      
        <h4><%= route.name %></h4>
        <% route.trains.each do |train| %>
              <ul class="list-group">                
                  <li class="list-group-item">
                    <%= "Train №#{train.number}"%> |
                    <%= link_to 'Buy Ticket', new_ticket_path(train_id: train.id, initial_station_id: @initial_station.id, final_station_id: @final_station.id) %><br>
                    <%= "Departure: #{route.railway_stations.ordered.first.departure(route).strftime('%H:%M')} /
                     Arrive: #{route.railway_stations.ordered.last.arrive(route).strftime('%H:%M')}" %>
                  </li>              
              </ul>
        <% end %>
      <% end %>    
  <% end %>
</p>
