<%= form_for @wagon.becomes(Wagon) do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div class="field">
  	<%= f.label :train, "Number Train" %>
  	<%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :type, "Wagon Type" %>
    <%= f.select(:type, options_for_select([:SuperEconomy, :Economy, :Comfort, :Lux])) %>
  </div>  

  <div class="field">
    <%= f.label :bottom_seats, "Bottom Seats" %>
    <%= f.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :top_seats, "Top Seats" %>
    <%= f.number_field :top_seats %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats, "Side Bottom Seats" %>
    <%= f.number_field :side_bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :side_top_seats, "Side Bottom Seats" %>
    <%= f.number_field :side_top_seats %>
  </div>

  <div class="field">
    <%= f.label :economy_bottom_seats, "Economy Bottom Seats" %>
    <%= f.number_field :economy_bottom_seats %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @wagon.new_record? ? 'Create' : 'Edit' }" %>
  </div>
<% end %>
