<p id="notice"><%= notice %></p>

<p>
  <strong>Wagon Number:</strong>
  <%= @wagon.number %>
</p>

<p>
  <strong>Wagon Type:</strong>
  <%= @wagon.type %>
</p>

<p>
  <strong>Seats:</strong><br>
  <% if @wagon.type == 'Economy' %>
  	Bottom Seats: <%= @wagon.bottom_seats %><br>
  	Top Seats: <%= @wagon.top_seats %><br>
  	Side Bottom Seats: <%= @wagon.side_bottom_seats %><br>
  	Side Top Seats: <%= @wagon.side_top_seats %>
  <% elsif @wagon.type == 'SuperEconomy' %>
  	Economy Bottom Seats: <%= @wagon.economy_bottom_seats %>
  <% elsif @wagon.type == 'Lux' %>
  	Bottom Seats: <%= @wagon.bottom_seats %>
  <% elsif @wagon.type == 'Comfort' %>
  	Bottom Seats: <%= @wagon.bottom_seats %><br>
  	Top Seats: <%= @wagon.top_seats %>
  	<% else %>
    unknown
  <% end %>
</p>

<p>
  <strong>Wagon belongs to train number:</strong>
  <%= @wagon.train.number %>
</p>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', @wagon.train %>
