<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Stations in this route:</strong>
</p>
<p>
  <% if @route.railway_stations.empty? %>
    List is empty
  <% else %>
    <ul>
      <% @route.railway_stations_routes.ordered.each do |station| %>
        <li><%= station.number %> - <%= station.railway_station.title %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>List trains on this route:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
    List is empty
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', :back %>
