<%= form_for [:admin, @train] do |f| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.text_field :number, placeholder: 'Number', class: 'input-lg' %>
  </div>

  <div class="field">
    <%= f.label :route %>
    <%= f.select :route_id, options_from_collection_for_select(Route.all, :id, :name), {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label 'Head --> Tail' %>
    <%= f.check_box :head %>
  </div>  

  <div class="actions">
    <%= f.submit t('.submit', action: @train.new_record? ? 'Create' : 'Edit'), class: 'btn-lg btn-info' %>
  </div>
<% end %>
