<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Railscanner', root_url, class: "navbar-brand" %>
    </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Search Ticket", search_path %></li>       
            <li><%= link_to 'My Tickets', tickets_path(@ticket) %></li>
            <% if current_user.admin? %>
              <li><%= link_to "Stations", admin_railway_stations_path %></li>
              <li><%= link_to "Routes", admin_routes_path %></li>
              <li><%= link_to "Trains", admin_trains_path %></li>
              <li><%= link_to 'Tickets', admin_tickets_path(@ticket) %></li>
            <% end %>                                  
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, confirm: "Are you sure?" %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
  </div>
</nav>
